{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}
<section class="collection-list">
  <div class="container-fluid">
    <div class="collection-list__title">
      {% if section.settings.title != blank %}
        <p>{{section.settings.title}}</p>
      {% endif %}
    </div>
    <div class="collection-list__title">
      {% if section.settings.title-content != blank %}
        <p>{{section.settings.title-content}}</p>
      {% endif %}
    </div>
    <!-- <div id="collection-list">

      {% for block in section.blocks %}  
        <div id="collection-list-col">
          {%- assign collection = collections[block.settings.collection] -%}
          <a href="{{ collection.url | default: "#" }}" class="collection-list-item" {{ block.shopify_attributes }}>
            <img src="{{block.settings.image-collection | img_url: 'master'}}" alt="">
            {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
            <button class="btn">{{ collection.title}}</button>
          </a>
        </div>
      {%endfor%}
    </div> -->
    <div class="image-slider-collection">
      {% for block in section.blocks %}
        <div class="image-item-collection" >
          {%- assign collection = collections[block.settings.collection] -%}
          <a href="{{ collection.url | default: "#" }}" class="collection-list-item" {{ block.shopify_attributes }}>
          <div class="image-collection">
            <img src="{{block.settings.image-collection | img_url: 'master'}}" alt="">
            {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
            <button class="btn">{{ collection.title | default: default_label}}</button>
          </div>
          </a>
        </div>
      {%endfor%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Collection",
    "max_blocks": 5,
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "title-content",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Image Collection",
            "id": "image-collection",
            "type": "image_picker"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
